@import "tailwindcss";

@theme inline {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.08% 0.004 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.08% 0.004 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.08% 0.004 285.82);
  --color-primary: oklch(54.71% 0.244 262.88);
  --color-primary-foreground: oklch(97.14% 0.014 254.6);
  --color-secondary: oklch(96.76% 0.001 286.38);
  --color-secondary-foreground: oklch(21.03% 0.006 285.88);
  --color-muted: oklch(96.76% 0.001 286.38);
  --color-muted-foreground: oklch(55.19% 0.014 285.94);
  --color-accent: oklch(96.76% 0.001 286.38);
  --color-accent-foreground: oklch(21.03% 0.006 285.88);
  --color-destructive: oklch(57.71% 0.215 27.33);
  --color-destructive-foreground: oklch(97.14% 0.014 254.6);
  --color-border: oklch(92.16% 0.004 286.32);
  --color-input: oklch(92.16% 0.004 286.32);
  --color-ring: oklch(54.71% 0.244 262.88);
  --color-chart-1: oklch(64.53% 0.192 259.82);
  --color-chart-2: oklch(74.42% 0.162 184.36);
  --color-chart-3: oklch(60.02% 0.118 184.7);
  --color-chart-4: oklch(79.84% 0.104 70.09);
  --color-chart-5: oklch(68.93% 0.166 41.49);
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --color-background: oklch(14.08% 0.004 285.82);
  --color-foreground: oklch(98.49% 0.001 286.38);
  --color-card: oklch(14.08% 0.004 285.82);
  --color-card-foreground: oklch(98.49% 0.001 286.38);
  --color-popover: oklch(14.08% 0.004 285.82);
  --color-popover-foreground: oklch(98.49% 0.001 286.38);
  --color-primary: oklch(54.71% 0.244 262.88);
  --color-primary-foreground: oklch(97.14% 0.014 254.6);
  --color-secondary: oklch(26.98% 0.005 286.03);
  --color-secondary-foreground: oklch(98.49% 0.001 286.38);
  --color-muted: oklch(26.98% 0.005 286.03);
  --color-muted-foreground: oklch(70.39% 0.01 286.07);
  --color-accent: oklch(26.98% 0.005 286.03);
  --color-accent-foreground: oklch(98.49% 0.001 286.38);
  --color-destructive: oklch(57.71% 0.215 27.33);
  --color-destructive-foreground: oklch(97.14% 0.014 254.6);
  --color-border: oklch(26.98% 0.005 286.03);
  --color-input: oklch(26.98% 0.005 286.03);
  --color-ring: oklch(54.71% 0.244 262.88);
}
